<div class="container">
    <div class="row">
        <h1>productos</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-wolf-animals-images-wallpaper-for-pc-384x480-image_2916211.jpg" class="d-block w-100" alt="auuuuu">
              </div>
              <div class="carousel-item" *ngFor="let producto of productoCarrusel">
                <img src="{{producto.imagen}}" class="d-block w-100" alt="{{producto.alt}}">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="col">
            <app-card 
            (productoAgregado)="productoAnanido($event)"
            [productoReciente]="product">
                
            </app-card>
        </div>
    </div>
</div>



